In [2]:
import pandas as pd
import numpy as np

In [11]:
df=pd.read_csv('datasets\messy_order_assignment.csv')
df.head()

,order_id,customer_email,Product_Name,unit_price,qty,customer_status,order_date
0,2034,eve@email.com,Wireless Mouse,77.67,1,NEW,NaN
1,2034,BOB@EMAIL.COM,phone case,55.00,3,returning,NaN
2,2003,eve@email.com,HEADPHONES,MISSING,4,NEW,NaN
3,2043,BOB@EMAIL.COM,Wireless Mouse,MISSING,5,Returning,NaN
4,2048,charlie@email.com,wireless mouse,67.49,4,NEW,NaN

In [12]:
#  Replace 'MISSING' and '' with np.nan
df['unit_price']=df['unit_price'].replace('MISSING',np.nan)
df['unit_price'].head()

0    77.67
1    55.00
2      NaN
3      NaN
4    67.49
Name: unit_price, dtype: object

In [18]:
# Convert unit_price to numeric

df['unit_price'] = pd.to_numeric(df['unit_price'])
df['unit_price']

0       77.67
1       55.00
2         NaN
3         NaN
4       67.49
        ...
225     18.24
226       NaN
227       NaN
228     57.39
229    127.97
Name: unit_price, Length: 230, dtype: float64

In [23]:
# Fill missing prices with the median price 
df['unit_price']=pd.to_numeric(df['unit_price'])

In [24]:
median_price=df['unit_price'].median()

In [25]:
df['unit_price']=df['unit_price'].fillna(median_price)
df['unit_price'].head(5)

0    77.67
1    55.00
2    82.48
3    82.48
4    67.49
Name: unit_price, dtype: float64

In [26]:
# Fill missing dates using ffill  and  bfill
df['order_date']=df['order_date'].ffill()

In [27]:
df['order_date']=df['order_date'].bfill()

In [28]:
print(df.isnull().sum())

order_id            0
 customer_email     0
Product_Name        0
unit_price          0
qty                 0
customer_status     0
order_date          0
dtype: int64

#### Fix inconsistent formatting

In [47]:
# Strip and title-case Product_Name
df.rename(columns={'Product_Name': 'Product Name'}, inplace=True)
print(df.columns.tolist())

['order_id', ' customer_email ', 'Product Name', 'unit_price', 'qty', 'customer_status', 'order_date']

In [48]:
# Standardize customer_status to 'New' and 'Returning'
df['customer_status']=df['customer_status'].str.lower()

In [49]:
df['customer_status']=df['customer_status'].map({
    'new': 'New',
    'returning': 'Returning'
})

In [50]:
print(df['customer_status'].unique())

['New' 'Returning']

In [55]:
# Lowercase all emails
df['customer_email'] = df['customer_email'].str.lower()

KeyError: 'customer_email'